body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .menu-container {
    text-align: center;
  }
  /* nav {
    background-color: #333;
  } */
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* li {
    display: inline-flex;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  } */
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 60px;
  }
  
  .image {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .image:hover img {
    transform: scale(1.1);
  } 
  /* contact */
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  textarea {
    height: 100px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }

  input[type="submit"]:hover {
    background-color: #333;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer nav li {
    display: inline;
  }
  
  footer nav li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  footer nav li a:hover {
    background-color: #555;
  }
  footer p {
    flex: left;
  }
  
  